/* 总初始化 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

/* 各项初始化 */
a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

input {
    font-weight: lighter;
    font-size: 15px;
    color: #fff;
    border: none;
    background-color: transparent;
    outline: none;
}

/* 外部字体导入 */
@font-face {
    font-family: "titleText";
    src: url("../fonts/ShouXie.ttf");
}

@font-face {
    font-family: "LogoText";
    src: url("../fonts/FontquanXinYiGuanHeiTi-Regular.ttf");
}

body {
    min-width: 1000px;
    min-height: 500px;
    height: 100vh;
    /* background: -webkit-linear-gradient(90deg, #09090c, #111217);
    background: linear-gradient(90deg, #09090c, #111217); */
    /* background: -webkit-linear-gradient(90deg, #080810, #111217); */
    background: linear-gradient(90deg, #09090c, #0f111a);
    /* -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); */
    /* overflow: hidden; */
}

.particle_background {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 500px;
    z-index: -1;
}

.particle_background .particle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(to bottom,
            rgb(0, 0, 0),
            rgba(0, 0, 0, .9),
            rgba(0, 0, 0, .7),
            rgba(0, 0, 0, .5),
            rgba(0, 0, 0, .3)); */
    background-color: rgba(0, 0, 0, 0.9);
}

/* 顶部开始 */
.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #ffffff07;
    border-bottom: 1px solid #ffffff50;
    backdrop-filter: blur(10px);
    z-index: 99;
}

.nav .mid_nav_box {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    height: 40px;
    line-height: 40px;
}

.nav .mid_nav_box .logo {
    float: left;
    width: 200px;
    height: inherit;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: "LogoText";
    color: #fff;
}

.nav .mid_nav_box .nav_box {
    float: left;
    height: 40px;
    margin-left: 200px;
}

.nav .mid_nav_box .nav_box ul li {
    float: left;
    width: 90px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    text-align: center;
    margin-left: 30px;
}

.nav .mid_nav_box .nav_box ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
    transition: all .3s;
}

.nav .mid_nav_box .nav_box ul li a:hover {
    color: #6e6f71;
}

.nav .mid_nav_box .btn_box {
    float: right;
    height: inherit;
}

.nav .mid_nav_box .btn_box .reg,
.nav .mid_nav_box .btn_box .log {
    margin: 0 5px 0;
    display: inline-block;
    width: 80px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 12px;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, .5);
    border: 1px solid #fff;
    border-radius: 2px;
    transition: all .3s;
}


.nav .mid_nav_box .btn_box .reg:hover,
.nav .mid_nav_box .btn_box .log:hover {
    background-color: #ffffffa3;
    color: #000;
}

.logo_title {
    margin: 35px auto 0;
    width: 500px;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: #fff;
    animation: logoappear 5s linear infinite;
}

.logo_init {
    color: #fff;
    margin: 100px auto 0;
    /* background-color: aqua; */
    background-color: rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    box-shadow: 10px 0 15px 5px rgba(0, 0, 0, .5);
    border-radius: 30px;
    width: 160px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: lighter;
}

.logo_info {
    margin: 5px auto 0;
    color: #aaa5a5;
    font-weight: lighter;
    width: 400px;
    text-align: center;
}

.go_box {
    margin: 30px auto 0;
    width: 320px;
    height: 50px;
    /* background-color: #fff; */
}

.go_box .getmore,
.go_box .join {
    display: inline-block;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.18);
    border: 1px solid #ffffff4e;
    transition: all .3s;
}

.go_box .getmore:hover,
.go_box .join:hover {
    color: #000000ab;
    background-color: rgba(255, 255, 255, 0.769);
}

.go_box .getmore {
    width: 150px;
    height: 100%;
    color: #fff;
    text-align: center;
    line-height: 50px;
}

.go_box .join {
    float: right;
    width: 150px;
    height: 100%;
    color: #fff;
    text-align: center;
    line-height: 50px;
}

/*  主体部分开始 */
.banner_box {
    margin: 100px auto;
    width: 1100px;
    height: 800px;
    background-color: #111218;
}

/* 登录框部分开始 */
.container {
    min-width: 1000px;
    min-height: 500px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 500px);
    height: calc(100% - 250px);
    background-color: #111218;
    box-shadow: 10px 8px 15px 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    animation: appear 1s linear forwards;
    z-index: 99;
}

.container .login_logo {
    position: absolute;
    top: 15px;
    left: 30px;
    color: #fff;
    font-size: 23px;
    letter-spacing: 5px;
    font-weight: bolder;
}

.container .options_info {
    position: absolute;
    bottom: 130px;
    left: 50%;
    transform: translateX(-50%);
    color: #c2bcbc;
    font-size: 12px;
    font-weight: lighter;
    backface-visibility: hidden;
}

.container .options_info::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 110%;
    width: 260px;
    height: 1px;
    background-color: #fff;
    background: linear-gradient(to right,
            rgba(255, 255, 255, .8),
            rgba(255, 255, 255, .6),
            rgba(255, 255, 255, .4),
            rgba(255, 255, 255, .2),
            rgba(255, 255, 255, .1));
    opacity: .2;
}

.container .options_info::before {
    position: absolute;
    content: "";
    top: 50%;
    right: 110%;
    width: 260px;
    height: 1px;
    background-color: #fff;
    background: linear-gradient(to left,
            rgba(255, 255, 255, .8),
            rgba(255, 255, 255, .6),
            rgba(255, 255, 255, .4),
            rgba(255, 255, 255, .2),
            rgba(255, 255, 255, .1));
    opacity: .2;
}

.container .options_box {
    position: absolute;
    left: 50%;
    bottom: 35px;
    transform: translate(-50%);
    z-index: 99;
}

.container .options_box .options li {
    float: left;
    margin: 0 20px 0;
    width: 50px;
    height: 50px;
    background-color: #141620;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    line-height: 50px;
    text-align: center;
    transition: .2s;
    backface-visibility: hidden;
}

.container .options_box .options li a {
    display: block;
    color: #fff;
}

.options li:hover {
    transform: translateY(-10px);
}

.container::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.container .exit_btn {
    position: absolute;
    top: 15px;
    right: 30px;
    display: block;
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    transition: all .3s;
    z-index: 99;
}

.container .exit_btn:hover {
    color: #777575;
}

.container .mid_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1100px;
    height: 700px;
}

.container .mid_box .text_box {
    position: relative;
    float: left;
    width: 500px;
    height: 700px;
    text-align: center;
}

.container .mid_box .text_box .texts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .mid_box .text_box .texts::after {
    position: absolute;
    content: "";
    width: 300px;
    height: 100px;
    top: 15%;
    left: 20%;
    background: -webkit-linear-gradient(to right, #52d6fc, #ff0fff);
    background: linear-gradient(to right, #52d6fc, #ff0fff);
    z-index: -1;
    filter: blur(110px);
}

.container .mid_box .text_box .texts .info {
    margin-top: 10px;
    color: #b7a7a7;
    font-weight: lighter;
    font-size: 15px;
    white-space: nowrap;
}

.container .mid_box .text_box .texts .title {
    font-size: 55px;
    font-family: "titleText";
    font-weight: lighter;
    letter-spacing: 5px;
    white-space: nowrap;
    color: #fff;
}

.container .mid_box .logins {
    position: relative;
    float: left;
    width: 600px;
    height: 100%;
}

.container .mid_box .logins .login_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 430px;
    height: 550px;
    border-radius: 15px;
}

.container .mid_box .logins .login_box .box_name {
    margin-top: 50px;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    background: -webkit-linear-gradient(90deg, #333333, #707070, #b0b6b6);
    background: linear-gradient(90deg, #333333, #707070, #b0b6b6);
    background-size: 200%;
    background-clip: text;
}

.container .mid_box .logins .login_box .uname {
    margin-top: 70px;
    position: relative;
}

.container .mid_box .logins .login_box .pwd {
    margin-top: 45px;
    position: relative;
}

.container .mid_box .logins .login_box .uname label {
    position: absolute;
    top: -20px;
    left: 0;
    font-weight: lighter;
    font-size: 12px;
    color: #fff;
    border-radius: 5px;
    width: 65px;
    text-align: center;
    background-color: #4a4b4d;
}

.container .mid_box .logins .login_box .pwd label {
    position: absolute;
    top: -20px;
    left: 0;
    font-weight: lighter;
    font-size: 12px;
    color: #fff;
    background-color: #4a4b4d;
    width: 65px;
    text-align: center;
    border-radius: 5px;
}

.container .mid_box .logins .login_box .uname input {
    width: 270px;
    padding: 5px;
    border-bottom: 2px solid #52d6fc;
}

.container .mid_box .logins .login_box .pwd input {
    width: 270px;
    padding: 5px;
    border-bottom: 2px solid #52d6fc;
}

.container .mid_box .logins .login_box .btn {
    margin-top: 80px;
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 15px;
    border-radius: 7px;
    letter-spacing: 5px;
    color: #fff;
    background-color: #1f1ff6;
    text-transform: uppercase;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .2);
    transition: all .3s;
}

.container .mid_box .logins .login_box .btn:hover {
    background-color: rgba(255, 255, 255, .3);
}

/* 登录框部分结束 */

/* 动画部分 */
@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes logoappear {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}