@font-face {
  font-family: "iconfont"; /* Project id 4650204 */
  src: url('iconfont.woff2?t=1729596821478') format('woff2'),
       url('iconfont.woff?t=1729596821478') format('woff'),
       url('iconfont.ttf?t=1729596821478') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: "\e671";
}

.icon-bilibili:before {
  content: "\e6b4";
}

.icon-cloud:before {
  content: "\e67c";
}

.icon-guge:before {
  content: "\e619";
}

.icon-lianshu:before {
  content: "\e616";
}

.icon-tuite:before {
  content: "\e665";
}

.icon-exit:before {
  content: "\e647";
}

.icon-GitHub:before {
  content: "\ea0a";
}

